/// Menu Side-Bar Color
/// @Type Color
$menu-sidebar-color: rgb(18.1, 18.1, 18.1);

/// Main Background Color
/// @Type Color
$main-background-color: rgb(24, 24, 24);

/// Player Color
/// @Type Color
$player-color: rgb(40, 40, 40);

/// Scroll Bar Color
/// @Type Color
$scrollbar-color: rgb(83, 83, 83);

/// Text Color
/// @Type Color
$text-color: rgb(179, 179, 179);

/// Active Item
/// @Type Color
$active: #1DD15D;
