html body { 
    box-sizing: border-box;
    margin: 0;
    background-color: $main-background-color; 
    color: $text-color;
    padding: 20px;
    font-size: 16px;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

ul { 
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

    li { 
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-left: 5px solid rgb(18.1, 18.1, 18.1);
        cursor: pointer;
    }
}

