html body { 
    box-sizing: border-box;
    margin: 0;
    background-color: $main-background-color; 
    color: $text-color;
    font-size: 16px;
    font-family: 'Manjari', sans-serif;
}

*, *::before, *::after { 
    box-sizing: inherit;
}

ul { 
    list-style: none;
    padding: 0;
    margin-bottom: 25px;

    li { 
        display: flex;
        align-items: center;
        padding-left: 20px;
        border-left: 5px solid rgb(18.1, 18.1, 18.1);
        cursor: pointer;
        transition: all .4s;

        &:not(:first-child):hover { 
            font-weight: bold;
            color: white;
            
            span { 
                text-shadow: 0 0 5px white;
            }

            i { 
                fill: white;
            }
        }
    }
}

