.menu-icon {
    position: absolute;
    top: 15px;
    left: 15px; 
    font-size: 36px;
    cursor: pointer;
}

.close-icon { 
    font-size: 24px;
    position: absolute;
    right: 20px;
    top: 20px;
    cursor: pointer;
}

.menu-container { 
    position: absolute;
    top: 0;
    background-color: $menu-sidebar-color;
    height: 100vh;
    padding: 20px 0 20px;
    transition: left .6s;
}

.menu-scroll { 
    overflow-y: scroll;
    max-height: 56%;
    width: 100%;
    font-size: .8em;

    &::-webkit-scrollbar { 
        width: 16px;
    }

    &::-webkit-scrollbar-thumb {
        background: $scrollbar-color;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $text-color;
    }

    &::-webkit-scrollbar-button { 
        background-color: $menu-sidebar-color;
        background-size: 10px 10px;
        background-repeat: no-repeat;
        background-position: center center;
        height: 16px;
        width: 1em;
    }

    &::-webkit-scrollbar-button:end:increment {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy40MSA4LjU5TDEyIDEzLjE3bDQuNTktNC41OEwxOCAxMGwtNiA2LTYtNiAxLjQxLTEuNDF6IiBmaWxsPSJyZ2IoODksIDg5LCA4OSkiLz48cGF0aCBmaWxsPSJub25lIiBkPSJNMCAwaDI0djI0SDBWMHoiLz48L3N2Zz4=");
        background-size: 20px;  
    }
    
    
    &::-webkit-scrollbar-button:start:decrement {
        background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0Ij48cGF0aCBkPSJNNy40MSAxNS40MUwxMiAxMC44M2w0LjU5IDQuNThMMTggMTRsLTYtNi02IDZ6IiBmaWxsPSJyZ2IoODksODksODkpIi8+PHBhdGggZD0iTTAgMGgyNHYyNEgweiIgZmlsbD0ibm9uZSIvPjwvc3ZnPg==");
        background-size: 20px;  
    }

    .label { 
        text-transform: uppercase;
        letter-spacing: 3px;
    }
}

.top { 
    min-height: 20%;
    margin-bottom: 0;
    li { 
        span { 
            margin-left: 20px;
        }

        & + li { 
            margin-top: 15px;
        }
    }

}

.library {
    margin-top: 5px;
    li { 
        &:first-child { 
            cursor: default;
            margin-bottom: 10px;
        }
    
        &:not(:first-child) { 
            font-weight: bold;
            margin-bottom: 15px;
        }
    }
}

.activeItem { 
    color: white;
    font-weight: bold;
    border-left: 5px solid $active;

    i { 
        fill: white;
    }
}

.menuIcon { 
    font-size: 30px;
}

.newPlaylist { 
    display: flex;
    align-items: flex-start;
    padding: 0 20px;
    min-height: 20%;
    cursor: pointer;
    margin-top: 20px;

    div {
        display: flex;
        align-items: center;
        span { 
            margin-left: 10px;
        }
    }

    &:hover { 
        font-weight: bold;
        color: white;
        
        span { 
            text-shadow: 0 0 5px white;
        }

        i { 
            fill: white;
        }
    }
}

hr { 
    border: none;
    height: 1px;
    margin: 0;
    color: $scrollbar-color;
    background-color: $scrollbar-color; 
    opacity: .2;
}